@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');



li, a  {
    text-decoration:none;


}
html,body{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

nav{
    background-color:white;
    color:purple;
    height:65px;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top:-10px;
    /* z-index:9999; */
    padding-top:10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    display:inline;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    padding:20px;
}

.navbar ul li a:hover{
    transform: scale(1.05);
}

#logo{
    display:inline;
    justify-content: baseline;
    margin-top:10px;
    padding-left: 10px;;
    
}

.burger{
    display:block;
    float:right;
    display: none;
}

.line{
    width:22px;
    margin-right:5px;
    border-radius: 2px;
    margin: 5px;
    border:2px solid black;
    color:black;
    display: block;
    /* display: none; */
}

button{
    border: 1px solud grey;
    background-color: white;
    border-radius: 5px;
    padding:2px;
    margin-left:  10px 10px;
}

@media only screen and (max-width: 600px) {
    
    .burger{
        display: block;
        flex-direction: flex-end;
        margin-top: 10px;
    }

    .navbar{
        display: none;
    }

    .mobilenavbar li a{
        text-decoration: none;
    }

    .mobilenavbar{
        display: none;
    }

    .about p{
        font-size: 10px;
    }

    .skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .languages, .projects, .interests{
        width: fit-content;
        padding:20px 20px 10px 20px;
        
    }

    .info h1{
        margin: auto 5px;
        
        display: flex;
    }

    label{
        font-size: 15px;
        font-weight: 100;
    }


 
    }





/* -----------Header------------------ */

.info{
    text-align: center;
    min-width: 50%;
}

.info h1{
    padding-top:75px;
    font-size: 50px;
}

.info h3{
    padding-top: 25px;
    font-weight: 10;
    font-size: 20px;
}

.info img{
    padding-top: 20px;
    
}

/* --------about----------- */

.about{
    background-color: #540D6E;
    color:white;
    margin-top:50px;
    padding-top:90px;
    padding-bottom: 200px;
    text-align: center;
    border-radius:10px ;
       
}

.about h2{
    margin: auto 10px;
}

.about p {
     width: 50%;
    margin: auto;
    font-size: medium;
    line-height: 2;
    font-weight: 5;
}


/* ------------------Skills--------------------- */


.skills{
    background-color: transparent;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-left:75px;
    margin-right: 75px;
    /* z-index: 3; */
    margin-top: -110px;
    background-color: white;
    border-radius: 15px;
}

.languages, .projects, .interests{

    padding:20px 20px;
    text-align: center; 
    border:1px solid;
    border-radius: 10px;
    /* box-shadow: 0px 10px 10px grey; */
}


.skills_2_heading{
    margin:auto;
    padding-top: 30px;
}

/* -------------form----------------------- */

hr{
    height: 2px;
    margin-top: 75px;
}

.hr-images{
    position: relative;
    left:47%;
    top:-50px;
    background-color: white;
    width:80px;
}

.form{
    margin:auto;
    width:75%;
    text-align: center;
    align-items: center;
}

form{
    text-align: center;
    align-items: center;
}

.form h1{

    padding-bottom:20px;
    font-size: 3rem;
    font-style:oblique;
}
input{
    display:block;
    margin:20px auto;
    width:50%; 
    height:35px;
    border-radius: 10px;
    border-style: groove;
       
}

textarea{
    display: block;
    margin:20px  auto;
    width: 50%;
    border-radius: 3px;

}

label{
    margin-top:20px;
    
}

.form button{
    width:25%;
    height:50px;
    border-radius: 25px;
    margin:30px auto;
    border:2px solid purple;
    
}



strong{
    letter-spacing: 3px;
    font-weight: -1000;
    color: #540D6E;
}


/* -------------social-------- */

.social{
    
    text-align: center;
    margin-top:90px;
}

.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.social-icons > a{
    margin:20px 25px;
}

.social-icons a:hover{
    transform: scale(1.05);
}
